@charset "utf-8";

// Customization


// Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Set Google Webfont
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
// Update serif font family
$family-serif: "Roboto Slab", serif;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;
$body-family: $family-serif;

// Set custom colors
$cream: #fcf6f2;
$blue: #c966a0; // Used for links
$blue-invert:$cream;
$text: #183a43;
$yellow: #da9c50;

// Use same color as links for primary
$primary: $blue;
$primary-invert: $blue-invert;

// Set all background colors the same
$body-background-color:$cream;
$footer-background-color:$body-background-color;
$box-background-color:$body-background-color;
$box-shadow:0 0px 0px rgba($body-background-color, 0), 0 0 0 0px rgba($body-background-color, 0);
$card-background-color:$body-background-color;
$table-background-color:$body-background-color;

// Additional switches
$widescreen-enabled: false;
$fullhd-enabled: false;

// Import the rest of Bulma

@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
